
.App {
  min-height: 100vh;
  max-width: 100vw;
  padding: 40px 20px;
  background: #ffe6f0; /* pastel pink */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
  overflow-x:hidden ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1 {
  font-size: 2rem;
  color: #d63384; /* berry pink */
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
